 @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

 .projects-header {
    width: 90%;
    height: 98%;
    margin: 0 auto;
 }
.projects-header > h1 {
    position: relative;
    top: -2.5rem;
    font-family: 'Yellowtail', 'cursive';
    transform: rotate(-6deg);
    font-size: 7rem;
    color: var(--color-grey);
    width: fit-content;
    margin: 0 auto;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.project-link {
    width: 20rem;
    height: 10rem;
    background: var(--color-bg-variant);
    text-align: center;
}

.project-link > div {
    padding-top: 1.5rem;
}

.frontend-icon, .ux-icon {
    color: var(--color-primary-variant);
    
}

/* .frontend-icon:hover, .ux-icon:hover{
    color: var(--color-white);
} */


.project-link:hover {
    background: var(--color-primary-variant);
    color: var(--color-white);
}
    