#contact {
    background: var(--color-bg-variant);
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 4rem 5rem;
}


.connect-arrow{
    color: var(--color-primary);
}

.contact-grid {
    margin: 0 auto;
    padding: 3rem 3rem 0 0;
}

label {
    display: block;
}

input {
    border: none;
    color: white;
    background: var(--color-bg);
}

input, textarea {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}

.input-label {
    text-transform: uppercase;
    transform: translateY(25px);
    transition: all .5s ease-in-out;
}

#message {
    color: white;
    margin-bottom: .5rem;
    border: none;
    background: var(--color-bg);
}

.submit-arrow{
    color: var(--color-primary);
}

.success {
    /* position: absolute; */
    /* display: none; */
    animation: buttons .5s linear;
}

@keyframes buttons {
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(0.1);
    }
}