header {
    height: 100vh;
    padding: 2rem 0;
    overflow: hidden;

}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.initial-name {
    padding-bottom: 3rem;
    text-transform: uppercase;
}  

.description {
    position: absolute;
    right: -5rem;
    width: 28rem;
    text-align: left;
    padding-top: 1rem;
    }

.color-dash {
    color: var(--color-primary)
}

.description > h5, h3 {
    padding-bottom: 1.5rem;
}
 

.my-name {
    position: absolute;
    left: 5rem;
    bottom: 21rem;
    z-index: 10;
}

.last-name {
    position:absolute;
    left: 0;
}
 
    

/* CTA BTN */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}
   

/* header socials */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    position:absolute;
    left: 0;
    top: 20rem;
}

.header_socials::after {
    content: '';
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}

/* img */

.me {
    width: 28rem;
    height: 25rem;
    position: absolute;
    left: 50%;
    bottom: 15rem;
    transform: translateX(-50%);
    border-radius: 18rem 18rem 0 0;
    overflow: hidden;
    background: linear-gradient(var(--color-primary), transparent);
    /* z-index: 0; */
}

img {
  
    padding-top: 6rem;
    margin: 0 auto;
    width: 28rem;
}

/* scroll */

.scroll_down {
    position: absolute;
    right: -2rem;
    top: 25rem;
    font-weight: 300;
    transform: rotate(90deg);
}
   

/* Media Queries */
@media screen and (min-width: 700px) and (max-width: 1024px) {
    

    
}

@media only screen and (max-width: 680px)  {
    header {
        height: 100vh;
        
    }
    .header_socials, .scroll_down, .my-name {
        display: none;
    }

    .container {
        width: var(--container-width-sm)
    }

    .description {
        /* min-height:1rem; */
        position: relative;
        margin: 0 auto;
        right: 0;
        width: 20rem;
        font-size: .9rem;
        text-align: center;
    }
      
    .cta {
        justify-content: center;
    }
      

    .me {
        width: 8rem;
        height: 8rem;
        bottom: 15rem;
      
    }
      
    img {
        padding-top: 2.8rem;
        width: 8rem;
      
    }
        
    
   


    
}