header {
    height: 100vh;
    padding: 2rem 0;
    overflow: hidden;
}

.header_container {
    /* text-align: center; */
    height: 100%;
    position: relative;
}

.my-name {
    position: absolute;
    left: 5rem;
    bottom: 15rem;
}

.last-name {
    position:absolute;
    left: 0;
}
 
    

/* CTA BTN */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: end;
}

/* header socials */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    position:absolute;
    left: 0;
    top: 20rem;
}

.header_socials::after {
    content: '';
    width: 2px;
    height: 2.5rem;
    background: var(--color-primary);
}