@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

#experience {
    background: var(--color-bg-variant);
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0 5rem;
}

.grid-item {
    margin: 0 auto;
    padding: 3rem 3rem 0 0;

}

.item1 {
    padding-top: 1rem;
}

.item1 > h1 {
    font-family:  'Yellowtail', 'cursive';
    color: var(--color-grey);
    transform: rotate(-8deg);
    font-size: 7em;
    text-align: center;
    letter-spacing: .3rem;
    width: fit-content;
}

.experience_skills {
    position: relative;
    left: .5rem;
    top: -3.5rem;
}

.skills_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills_container li {
    padding: 2rem;
    text-align: center;
}

.ux-skills {
    color: var(--color-primary-variant);
}

.item2 > h5 {
    padding: 2rem 0;
    text-transform: capitalize;
}

.item2 p {
    padding-bottom: 1.5rem;
}

.exp-1 {
    font-size: 1.5rem;
}